*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.center {
  max-width: 1404px;
  margin: 0 auto;
  padding: 0 2%;
  display: flex;
  flex-wrap: wrap;
}

.main {
  width: 100%;
  height: 92px;
  background-color: #008BDA;
  min-height: 400%;
  box-shadow: 0px 2px 6px rgba(33, 4, 208, 0.92);
}
.menu {
  width: 100%;
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  color:white;
}
.menu h3 {color:white;
font-size: 32px;}
.menu a{
  color : #336EBD;
  text-decoration: none;
  border-bottom: 1px solid white;
  padding:3px 8px;
}
.menu a ::hover{
color:white;
transition: 0.1ms;
}
.form{
  display: flex;
  width: 100%;
  margin:10px auto;
  text-align: center;
}
.forms input[type="text"]{
  width: 100%;
  height:30px;
  margin: 8px 10px;
}